@font-face {
font-family: "KyivBold";
src: url("KyivTypeSans-Bold2.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}


@font-face {
font-family: "KyivMedium";
src: url("KyivTypeSans-Medium2.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}


@font-face {
font-family: "Grotesque";
src: url("NeuveGrotesque.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

html, body {height:100%;}
body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  background-color:black;
}
.green {color: #20EB00;}
section {overflow-x:hidden; margin: 0 auto;}
.mobi {display:none !important;}
a  {color:inherit; text-decoration:inherit;}
.anchor {display:block; visibility:hidden; position:relative;}
#services_ {top:70px;}

.fix {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.74);
}
.desk {
  display: flex;
  justify-content: center;
  height: 90px;
  margin: 0 auto;
}
.goHome {margin: auto 4rem auto auto; line-height:0;}
#dPicLogo {width:64px; height:75px;}
.desk nav    {
  display:flex;
  justify-content: center;
  margin: auto 0;
  font-family: "Grotesque", Arial, sans-serif;
  font-size: 16px;
}
.desk nav a {
    margin: auto 4rem auto 0;
    white-space: nowrap;
}
.desk nav a:last-child  {margin:auto 0;}
.desk nav a:hover {color:#20EB00; border-bottom: solid 2px #20EB00; padding: 12px 0 10px 0;}
.soc {
    display: flex;
    margin: auto 4rem;
    align-items: center;
}
.soc a {margin-right: 15px;}
.soc a:last-child {margin-right: 0;}
.underLang {
    position: relative;
    width: 45px;
    height: 100%;
    margin: auto auto auto 0;
}
.lang   {
  position: absolute;
  right: 0;
  top: 25%;
  width: 2.7em;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 90%;
}
.langEN {color:#20EB00; margin:10px 10px 10px 10px;}
.langNL { margin: 5px 10px 10px 11px; display:none;}
.dsp {display:block !important;}

#contact3, #contact4, #contact5   {width:20px; height:20px;}

.openedMenu {display:none;}

#enterDesk   {
    background:black;
    height: 100vh;
    overflow: hidden;
}
#video    {
    object-fit: cover;
    max-width: 100%;
    min-height: 100vh;
}
#enterMobi   {display:none;}

.bg {                         /* BACKGROUNDS */
  background-image:
    url(pic/bg03.png),        /* черно-зеленый крест слева */
    url(pic/bg04.png),        /* малый светящийся крест правее */
    url(pic/bg05.png),        /* кресты справа */
    url(pic/bg02.png),        /* шар подсветки волн */
    url(pic/bg01.png),        /* волны под картинками портфолио */
    url(pic/mapDots.png),  /* точки на карте */
    url(pic/map.png),         /* карта в about */
    url(pic/bg07.png),        /* зеленый крест слева от Advntgs */
    url(pic/bg29.png),        /* серый фон этого креста */
    url(pic/bg06.png),        /* зеленый крест справа от Advntgs */
    url(pic/bg11.png),        /* крест для головы */
    url(pic/bg31.png),        /* шар подсветки головы */
    url(pic/bg08.png),        /* голова в Advntgs */
    url(pic/bg09.png),        /* сетка для головы */
    url(pic/bg14.png),        /* сетка для Сервисов */
    url(pic/bg12.png),        /* подсветка зеленого креста для Сервисов */
    url(pic/bg15.png),        /* зеленый крест для Сервисов */
    url(pic/bg17.png),        /* зеленый крест после Сервисов */
    url(pic/bg16.png),        /* серый крест после Сервисов */
    url(pic/bg32.png),        /* волны слева от Команды */
    url(pic/bg34.png),        /* большой крест слева от Команды */
    url(pic/bg33.png),        /* малый крест слева от Команды */
    url(pic/bg35.png),        /* шар подсветки */
    url(pic/bg37.png),        /* двойной крест справа от Команды */
    url(pic/bg31.png),        /* шар подсветки скульптуры */
    url(pic/bg30.png);        /* скульптура */
  background-position:
    300px 1151px,    /* черно-зеленый крест слева */
    500px 1370px,     /* малый светящийся крест правее */
    1220px 1208px,   /* кресты справа */
    0px 350px,          /* шар подсветки волн */
    0px 50px,            /* волны под картинками портфолио */
    480px 1800px,     /* точки на карте */
    center 1800px,     /* карта в about */
    280px 2250px,     /* зеленый крест слева от Advntgs */
    200px 2195px,     /* серый фон этого креста */
    1700px 2200px,   /* зеленый крест справа от Advntgs */
    1450px 2810px,   /* крест для головы */
    700px 2350px,     /* шар подсветки головы */
    910px 2440px,     /* голова в Advntgs */
    910px 2440px,     /* сетка для головы */
    20px 3340px,       /* сетка для Сервисов */
    0px 2540px,         /* подсветка зеленого креста для Сервисов */
    60px 3380px,       /* зеленый крест для Сервисов */
    1520px 4150px,    /* зеленый крест после Сервисов */
    1550px 4090px,    /* серый крест после Сервисов */
    0px 4600px,         /* волны слева от Команды */
    200px 5200px,     /* большой крест слева от Команды */
    300px 5200px,     /* малый крест слева от Команды */
    0px 4300px,         /* шар подсветки */
    1600px 5500px,    /* двойной крест справа от Команды */
    300px  5700px,            /* шар подсветки скульптуры */
    0  bottom;             /* скульптура */
  background-size:
    198px,        /* черно-зеленый крест слева */
    91px,          /* малый светящийся крест правее */
    402px,        /* кресты справа */
    auto,           /* шар подсветки волн */
    auto,           /* волны под картинками портфолио */
    547px,        /* точки на карте */
    1045px,       /* карта в about */
    164px,         /* зеленый крест слева от Advntgs */
    231px,         /* серый фон этого креста */
    160px,         /* зеленый крест справа от Advntgs */
    196px,         /* крест для головы */
    1375px,       /* шар подсветки головы */
    884px,         /* голова в Advntgs */
    884px,         /* сетка для головы */
    1728px,       /* сетка для Сервисов */
    1631px,       /* подсветка зеленого креста для Сервисов */
    292px,         /* зеленый крест для Сервисов */
    133px,         /* зеленый крест после Сервисов */
    256px,         /* серый крест после Сервисов */
    933px,         /* волны слева от Команды */
    100px,         /* большой крест слева от Команды */
    63px,           /* малый крест слева от Команды */
    2090px,        /* шар подсветки */
    183px,         /* двойной крест справа от Команды */
    auto,            /* шар подсветки скульптуры */
    1075px;         /* скульптура */
  background-repeat:no-repeat;
  margin: 0 auto;
}

#portfolio_ {top:-90px;}
.portfolio {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    padding-top: 10px;
}
.portfolio a, .portfolio img {border-radius: 30px;}
.portfBigPic {
    width: 800px;
    height: 514px;
    text-align: center;
    object-fit: cover;
    box-shadow: 1px 1px 10px 1px #20EB00;
}
.portfRow1 a:hover, .portfRow2 a:hover, .portfRow3 a:hover {
  opacity: 0.65;
}
.portfPic {
    width: 384px;
    height: 240px;
    box-shadow: 0px 0px 10px 0px #20EB00;
}

.grid {
    display: grid;
    grid-row-gap: 30px;
    grid-column-gap: 35px;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas:
    "sm1 sm2 sm3 sm4"
    "sm5 big big sm6"
    "sm7 big big sm8"
    "sm9 sm10 sm11 sm12";
    text-align: center;
}
.smallPlace2   {display: block; grid-area: sm2;}
.smallPlace1   {display: block; grid-area: sm1;}
.smallPlace3   {display: block; grid-area: sm3;}
.smallPlace4   {display: block; grid-area: sm4;}
.smallPlace5   {display: block; grid-area: sm5;}
.smallPlace6   {display: block; grid-area: sm6;}
.smallPlace7   {display: block; grid-area: sm7;}
.smallPlace8   {display: block; grid-area: sm8;}
.smallPlace9   {display: block; grid-area: sm9;}
.smallPlace10 {display: block; grid-area: sm10;}
.smallPlace11 {display: block; grid-area: sm11;}
.smallPlace12 {display: block; grid-area: sm12;}
.bigPlace        {display: block; grid-area: big;}

.h2 {
  font-family: "KyivBold", Arial, Helvetica, sans-serif;
  font-size: 63px;
}
.about {
  color: white;
  text-align: center;
}
.about1 {margin-top: 168px;}
.about2 {margin-top: 230px;}
#letsButton {
  display: flex;
  font-family: "KyivMedium", Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 285px;
  height: 70px;
  margin: 50px auto 20px auto;
  background-image: linear-gradient(to right, #17CA26, #089368);
  border-radius: 20px;
}
.letsButtonHover {box-shadow: 0px 0px 30px 0px #33FF13; cursor: pointer;}
#letsButton span {margin: 15px auto; user-select: none;}
.img_about {width: 34px; height: 34px;}
.aboutContent {
  display: flex;
  max-width: 850px;
  margin: 108px auto 80px auto;
}
.aboutContentColumn1 {width: 500px;}
.aboutContentColumn2 {
  width: 230px;
  margin-left: 100px;
}
.aboutContentHeader {
  display: flex;
  align-items: center;
  font-family: "KyivMedium", Arial, Helvetica, sans-serif;
  font-size: 24px;
}
.aboutContentHeader div {margin-left: 10px;}
.aboutContentTxt {
  text-align: left;
  font-family: Verdana, sans-serif;
  font-size: 15px;
}
.aboutContentTxt ul {
  margin-top: 20px;
  padding-left: 25px;
}
.aboutContentTxt li {line-height: 1.5;}
.aboutStat {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
  font-family: "Grotesque", Arial, sans-serif;
  font-size: 16px;
}
.aboutStatColumnHeader {
  font-family: "KyivMedium", Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
}
#advantages_ {top: 50px;}
.advn1 {
  text-align: center;
  margin-top: 170px;
}
.advnContent {
  display: flex;
  max-width: 1050px;
  margin: 90px auto 0 auto;
  font-family: "Grotesque", Arial, sans-serif;
  font-size: 15px;
  text-align: center;
}
.advnLeftColumn {
  width: 495px;
}
.advnTopBlock {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  border: 1px solid #20EB00;
  border-radius: 20px;
  margin-bottom: 60px;
}
.advnTopBlock img {
  width: 67px;
  height: 65px;
  margin-left: 35px;
}
.advnTopBlock div {
  width: 47%;
  margin-left: 45px;
}
.advnRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.advnRowColumn {
  width: 45%;
}
.iPic {
    width: 80px !important;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 20px auto;
}
.i01 {
    background-image: url(pic/i01.png);
    width: 80px !important;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;    
}
.i02 {background-image: url(pic/i02.png);}
.i03 {background-image: url(pic/i03.png);}
.i04 {background-image: url(pic/i04.png);}
.i05 {background-image: url(pic/i05.png);}

.advnText {
  padding: 0 15px;
}
.serv {
  text-align: center;
  margin: 188px auto 32px auto;
}
.servAnonse {
  font-family: "Grotesque", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}
.servContent {
  max-width: 1000px;
  margin: 95px auto 0 auto;
  color: #4cda3f;
}
.servContentRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
.servContentPos {
  text-align: center;
  font-size: 20px;
}

.imgPic {
    width: 170px;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.imgPic1 {background-image: url(pic/p1.png);}
.imgPic2 {background-image: url(pic/p2.png);}
.imgPic3 {background-image: url(pic/p3.png);}
.imgPic4 {background-image: url(pic/p4.png);}
.imgPic5 {background-image: url(pic/p5.png);}
.imgPic6 {background-image: url(pic/p6.png);}
.imgPic7 {background-image: url(pic/p7.png);}
.imgPic8 {background-image: url(pic/p8.png);}

.testmn {
  text-align: center;
  margin-top: 175px;
}
#team_ {
    top: 170px;
}
.ourteam {
    text-align: center;
    margin-top: 300px;
}

.owl-carousel.owl-drag .owl-item {-ms-touch-action: pan-y;touch-action: pan-y;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.owl-carousel .owl-nav.disabled,  .owl-carousel .owl-nav .owl-prev,  .owl-carousel .owl-nav .owl-next,  .owl-carousel .owl-dot {cursor: pointer;user-select: none;}
.owl-carousel .owl-item {
float: left;
}
.owl-carousel .owl-stage-outer {
position: relative;
overflow: hidden;
-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-nav { /* блок с кнопками */
position: absolute;
display: flex;
justify-content: space-between;
top: 65px;
left: 0;
width: 100%;
height: 0;
}
.owl-carousel .owl-nav button.owl-prev,  .owl-carousel .owl-nav button.owl-next { /* обе кнопки */
background: none;
color: transparent;
border: none;
padding: 0 !important;
font: 1px;
}
.owl-carousel .owl-nav button.owl-prev { /* кнопка Влево */
width:40px; height:41px; background-image:url('pic/nleft.png');
}
.owl-carousel .owl-nav button.owl-next { /* кнопка Вправо */
width:40px; height:41px; background-image:url('pic/nright.png');
}
.protector {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
}
.folder {
  position: relative;
  width:1070px !important;
  height:304px;
  margin: 60px auto 0 auto;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
}
.blocks {
  width:100%;
  height: 100%;
}
.block {
  width: 212px;
  height: 300px;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: transparent;
}
.block img {
  width: 155px !important;
  margin: 0 auto;
}
.blockTxt {
  display: none;
  font-family: "Grotesque", Arial, sans-serif;
  font-size: 11px;
  text-align: center;
  padding: 10px 20px;
}
.blockActiv {
  border: 1px solid #20EB00 !important;
  background-color: black !important;
}
.blockTxtActiv {
  display: block !important;
}

.folderTeam {
  position: relative;
  width:1070px !important;
  margin: 60px auto 0 auto;
  overflow: hidden;
  padding-left: 50px;
  padding-right: 50px;
}
.blockTeam {
    border: 1px solid transparent;
    background-color: transparent;
    padding-top: 10px;
}
.blockTeam img {
    width: 175px !important;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 3px #20EB00;
}
.blockTxtTeam {
    text-align: center;
    padding-top: 20px;
}
.teamName {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #20EB00;
    margin-bottom: 3px;
}
.teamRole {
    font-family: Verdana, sans-serif;
    font-size: 15px;
}
#sectionContacts {
    margin-top: 600px;
}
.invite {
  margin-right: 17%;
  text-align: right;
}
.inviteHeader {
  font-family: "KyivBold", Arial, Helvetica, sans-serif;
  font-size: 63px;
  font-weight: 700;
  margin-bottom: 20px;
}
.inviteTxt {
  font-family: "Grotesque", Arial, sans-serif;
  font-size: 24px;
}
.AdviceButton {
  display: flex;
  font-family: "KyivMedium", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
  width: 280px;
  height: 70px;
  margin: 50px 0 0 auto;
  background-image: linear-gradient(to right, #17CA26, #089368);
  border-radius: 20px;
}
.AdviceButton span {margin: 15px auto; user-select: none;}
.AdviceButtonHover {box-shadow: 0px 0px 30px 0px #33FF13;}
.contacts {
  display: flex;
  align-items: flex-end;
  margin: 0 11% 0 auto;
  height: 258px;
  color: white;
  font-family: "KyivBold", Arial, Helvetica, sans-serif;
  font-size: 22px;
}
.diffLinks {
    flex-grow: 1;    
    margin-right: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Grotesque", Arial, Helvetica, sans-serif;
    font-size: 26px;    
}
.TelMail, .bank, .part {
    display: flex;
    margin: 0 0 0 auto;
}
.TelMail {
    margin-bottom: 30px;
}
.bank {
    margin-bottom: 30px;
}
.part {
    font-size: 20px;
}
.part a {
    color: cornflowerblue;
}
.contactsTel {
    margin-right: 70px;
}
.contactsEmail {
}
.contactsLinks {
  margin: 0 20px 20px 0;
}
.contactsLinks > a {
  display: block;
  margin-top: 15px;
}
.contactsLinks img {
  width: 30px;
}


/* Talk Form */

#talkLayer {
  display: none;
  position: fixed;
  top:0;right:0;bottom:0;left:0;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  z-index: 10;
}
#talkLayer::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#talkForm {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  color: black;
  width: 450px;
  height: 475px;
  border-radius: 25px;
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.3);
}
.formCloser {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.formCloser img {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}
.formHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "KyivBold", Arial, sans-serif;
  font-size: 24px;
}
.formHeader img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
}
#formForm {
  margin: 15px 50px 0 50px;
}
#uname, #uemail, #uphone {
  display: block;
  outline: none;
  border: none;
  border-bottom: 1px solid silver;
  font-size: 16px;
  margin-top: 40px;
  width: 100%;
}
#buttonSend {
  width: 205px;
  height: 55px;
  color: white;
  background-color: black;
  border-radius: 30px;
  font-size: 20px;
  margin: 50px auto 30px auto;
  cursor: pointer;
}
.formNote {
  font-size: 13px;
}

/* End: Talk Form */


/* Wide screens */
@media all and (min-width:2250px) {
.grid {
    grid-template-areas:
    "sm1 sm2 big big sm5 sm6"
    "sm3 sm4 big big sm7 sm8"
    "sm9 sm10 big big sm11 sm12"
    !important;
}
.portfPic {
    width:  323px !important;
    height: 201px !important;
}
.portfBigPic {
    width: 1054px !important;
    height: 670px !important;
    object-fit: initial !important;
}
}/* End: Wide screens */


/* Pads */
@media all and (min-width:768px) and (max-width:1375px) {
.desk, section, .bg {max-width:1375px !important;}
.portfPic {margin-top: 20px;}

.bg {                         /* BACKGROUNDS */
  background-position:
    137px 901px,     /* черно-зеленый крест слева */
    337px 1120px,   /* малый светящийся крест правее */
    923px 958px,     /* кресты справа */
    0px 100px,         /* шар подсветки волн */
    0px -200px,        /* волны под картинками портфолио */
    280px 1550px,    /* точки на карте */
    center 1505px,    /* карта в about */
    80px 2000px,      /* зеленый крест слева от Advntgs */
    0px 1945px,        /* серый фон этого креста */
    1250px 2510px,   /* крест для головы */
    300px 1950px,     /* шар подсветки головы */
    709px 2143px,     /* голова в Advntgs */
    709px 2143px,     /* сетка для головы */
    220px 3085px,     /* сетка для Сервисов */
    0px 2140px,         /* подсветка зеленого креста для Сервисов */
    60px 2980px,       /* зеленый крест для Сервисов */
    1235px 3620px,    /* зеленый крест после Сервисов */
    1235px 3560px,    /* серый крест после Сервисов */
    0px 5300px;          /* скульптура  ИЗМЕНЕНО */
  background-size:
    198px,        /* черно-зеленый крест слева */
    91px,          /* малый светящийся крест правее */
    402px,        /* кресты справа */
    auto,           /* шар подсветки волн */
    auto,           /* волны под картинками портфолио */
    547px,        /* точки на карте */
    1045px,       /* карта в about */
    164px,         /* зеленый крест слева от Advntgs */
    231px,         /* серый фон этого креста */
    167px,         /* крест для головы */
    1165px,       /* шар подсветки головы */
    740px,         /* голова в Advntgs */
    740px,         /* сетка для головы */
    1000px,       /* сетка для Сервисов */
    1354px,       /* подсветка зеленого креста для Сервисов */
    24px,          /* зеленый крест для Сервисов  ИЗМЕНЕНО */
     110px,        /* зеленый крест после Сервисов */
    212px,         /* серый крест после Сервисов */
    50%;           /* скульптура  ИЗМЕНЕНО */
}
.folder {
  width: 642px !important;
}
.folderTeam {
  width: 642px !important;
}

} /* End: Pads */


/* Mobiles */
@media all and (max-width:767px) {
section, .bg {max-width:767px !important;}
section {
  display: inherit !important;
  position: relative;
  min-height: 100% !important;
  height: auto !important;
}
.desk {display:none !important;}
.mobi {
  display: flex !important;
  height: 65px;
  max-width: 767px;
}
.underFix   {display:none !important;}
#logom {width:48px; height:54px;}
.goHomeM {margin: auto auto auto 20px; line-height: 0;}
#menu {
  display: block !important;
  width: 58px;
  height: 58px;
  margin: auto 10px auto auto;
}
.opened {
  display: block;
  width: 100%;
  height: 990px;
  background-color: black;
  background-image: url(pic/fonMenu.png);
  background-position: 0 80px;
  position: absolute;
  top: 65px;
  left: 0;
  font-size: 19px;
}
.navMenu {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navLine {
  border-bottom: solid 2px black;
  margin-top: 40px;
}
.navLine:hover,  .navLine:active {
  border-bottom-color: #20EB00;
  color: #20EB00;
}
.ln {
  margin-top: auto;
}
.lnEN {color:#20EB00; margin-right: 30px;}

.h2 {font-size: 21px;}
.about1 {margin-top: 97px !important;}
.about2 {
  margin-top: 100px;
  font-size: 26px;
}
.advn1 {
  margin: 110px auto 30px auto;
  font-size: 26px;
}
.serv {
  margin: 0 auto 12px auto;
  font-size: 26px;
}
.testmn {
  margin-top: 0;
  font-size: 26px;
}
#letsButton {
  width: 150px;
  height: 40px;
  margin: 20px auto 0 auto;
  font-size: 16px;
}
#letsButton span {margin: 9px auto;}
.aboutContent {
  flex-direction: column;
  margin: 35px auto 25px auto;
}
.aboutContentColumn1 {
  width: 95vw;
  padding: 0 10px;
}
.aboutContentColumn2 {
  width: 95vw;
  margin-left: 10px;
}
.aboutContentColumn2 .aboutContentHeader {
  margin-top: 25px;
}
.aboutStat {
  flex-direction: column;
  height: 350px;
  font-size: 15px;
}
.advnContent {
  display: block;
  max-width: 100vw;
  margin: 0;
  text-align: left;
  font-size: 14px;
}
.advnLeftColumn {
  width: 100vw;
}
.advnRow {
  display: block;
  margin-bottom: 0;
}
.advnRowColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 10px;
}
.advnRowColumn div {
  padding: 0 10px;
}
.advnRowImg {
  width: 65px;
  height: auto;
}
.advnTopBlock {
  border-radius: 0;
  margin-bottom: 0;
  border: none;
  align-items: left;
  width: 100vw;
  height: auto;
  font-size: 14px;
}
.advnTopBlock img {
  width: 47px;
  height: auto;
  margin-left: 10px;
}
.advnTopBlock div {
  width: auto;
  margin-left: 20px;
  padding-right: 5px;
}
#services_ {margin-top: 488px; top: -60px;}
.servAnonse {
  font-size: 14px;
  margin: 0 auto;
  width: 55vw;
}
.servContentRow {
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.servContentPos,  .servContentPos2 {
  width: 50vw;
}
#ttm_ {margin-top: 90px; top: -70px;}
.invite {
  margin-top: 400px;
  margin-right: 0;
  margin-bottom: 100px;
  text-align: center;
}
.inviteHeader {
  font-size: 21px;
  margin-bottom: 10px;
}
.inviteTxt {
  font-size: 14px;
}
.AdviceButton {
  font-size: 16px;
  width: 150px;
  height: 40px;
  margin: 15px auto 0 auto;
}
.AdviceButton span {margin: 10px auto;}
.contacts {
  display: block;
  margin: 50px 0 0 0;
  height: auto;
  font-size: 16px;
  text-align: center;
}
.contactsTel {
  margin: 0 auto;
}
.contactsEmail {
  margin: 10px auto 0 auto;
}
.contactsLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0;
  height: 380px;
}
.contactsLinks > a {
  margin: 20px 20px 0 0;
}
.contactsLinks > a:last-child {
  margin-bottom: 30px;
}

#about_ {top: 170px;}
#enterDesk {display:none !important;}
#enterMobi {
  height: 100% !important;
  min-height: 500px;
  background: url(pic/fonm.png);
  overflow: hidden;
}
.waveTop {
  width: 100%;
  max-width: 360px;
  position: absolute;
}
.centerContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cntBlock {
  display: block;
  margin: auto;
  width: 263px;
  height: 311px;
}
.waveBtm {
  width: 100%;
  max-width: 360px;
  position: absolute;
  top: auto;
  bottom: -115px;
  right: 0;
}
.portfPic {margin-top: 10px; width: 170px;}
.portfPic,
.portfBigPic {
  box-shadow: 0px 0px 6px 0px #20EB00;
}
#portfolio_ {top: -90px;}
.portfolio a, .portfolio img {border-radius: 9px;}
.folder {
  width: 214px !important;
}
.folderTeam {
  width: 214px !important;
}
.bg {                         /* BACKGROUNDS */
  background-image:
    url(pic/bg19.png),         /* черно-зеленый крест слева */
    url(pic/bg20.png),         /* волна слева от Lets talk */
    url(pic/bg21.png),         /* зеленый крест справа */
    url(pic/bg22.png),         /* бледно-зеленый крест ниже */
    url(pic/bg23.png),         /* светлячки */
    url(pic/bg24.png),         /* зеленый крест на бледном фоне */
    url(pic/bg25.png),         /* фон для креста */
    url(pic/bg26.png),         /* малый зеленый крест справа */
    url(pic/bg27.png),         /* голова */
    url(pic/bg28.png);         /* скульптура */
  background-position:
    0 900px,
    0 740px,
    right 5px top 1000px,
    60px 1080px,
    0 1575px,
    0 1940px,
    0 1915px,
    right 30px top 2018px,
    0 2460px,
    left 0px bottom 0px;
  background-size:
    82px,
    359px,
    39px,
    70px,
    352px,
    91px,
    101px,
    36px,
    360px,
    360px;
  background-repeat:no-repeat;
  margin: 0;
}

/* Talk Form */

#talkLayer {
  background: white;
  text-align: left;
}
#talkLayer::before {content:none;}
#talkForm {
  display: block;
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  box-shadow: none;
}
.formHeader {margin-top: 30px;}
#formForm {margin: 15px 10px 0 10px;}
#buttonSend {
  display: block;
  margin: 200px auto 20px auto;
}
.formNote {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}

/* End: Talk Form */

/* В моб.версии показываем отзывы постоянно */
.block {
  border: 1px solid #20EB00 !important;
  background-color: black !important;
}
.blockTxt {
  display: block !important;
}

} /* End: Mobiles */